@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    ViewBag.Title = "index here i can type whtever it needs";
    //view bag es una maleta donde se puede meter muchas cosa como se  pueda
}
<h2>Index with header 2</h2>
<p1>Hello from our view template</p1>

